[Unit]
Description=VPN gateway to split traffic into China and non-China IPs.
After=network.target

[Service]
ExecStartPre=/usr/local/sbin/route-vpn
ExecStart=/usr/bin/pon %i nodetach nolog
ExecStop=/usr/bin/poff %i
ExecStopPost=/usr/local/sbin/de-route-vpn

[Install]
WantedBy=multi-user.target
